<!---------------book画面---------------->
books#index
<!---------------user情報---------------->
 <%= render 'layouts/user_new', user: current_user %>
<!---------------User一覧---------------->
<%= render 'layouts/book_new', book: @book %>
<!---------------book一覧---------------->
<h3>Books</h3>
<div class="col-xs-9" style="background-color: white;">
<table class = "table table-striped">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Body</th>
  </tr>
</table>
<% @books.each do |book| %>
<table class = "table table-striped">
  <tr>
    <th> <%= link_to user_path(book.id) do %>
           <%=attachment_image_tag book.user, :profile_image,  format: 'png',
           class: "img-circle pull-left profile-img", fallback: "no_image.jpg",size: "60x60" %>
         <% end %>
    </th>
    <th><%= link_to book.title, book_path(book.id) %></th>
    <th><%= book.body %></th>
  </tr>
</table>
<% end %>
</div>
</div>